/******* FOoter *******/
/* Footer.css */
.footer {
    padding-top: 2rem;
    height: 20vh;
    margin-top: 2em;
    background-color: #1a1a40;
    color: #00bfff;
    font-size: 1rem;
    text-align: center;
    border-top: 2px solid #00bfff;
    box-shadow: 0 -3px 8px rgba(0, 0, 0, 0.5);
    align-items: center;


    width: 100%;
  }
  
  .footer p {

    animation: glow 2s ease-in-out infinite alternate;
  }
  
  @keyframes glow {
    from {
      text-shadow: 0 0 5px #00bfff, 0 0 10px #00bfff, 0 0 20px #00bfff;
    }
    to {
      text-shadow: 0 0 10px #00bfff, 0 0 20px #00bfff, 0 0 30px #00bfff;
    }
  }
  
 /**** Responsive Design *****/

@media (max-width: 768px) {

 

  .footer {
    
 
  }

  .footer p {
    
  }
}

@media (max-width: 480px) {




  .footer {
   
  }

  .footer p {
   
  }
}







